language: c
compiler:
  - gcc
  - clang
notifications:
  recipients:
    - kenhys@gmail.com
branches:
  only:
    - master
    - develop
env:
  - USE_DEBUG=yes
  - USE_DEBUG=no
before_script:
  - curl https://raw.github.com/kenhys/sylpheed-plugin-factory/master/misc/setup-travis.sh | sh
  - sudo apt-get install libappindicator-dev
  - git submodule update --init --recursive
  - ./autogen.sh
script:
  - ./configure --with-sylpheed-build-dir=`pwd`/sylpheed
  - make

