language: c
compiler:
  - gcc
  - clang
notifications:
  recipients:
    - kenhys@gmail.com
branches:
  only:
    - master
    - develop
env:
  - SYLPHEED_STAGE=master USE_LIBNOTIFY=yes USE_LIBAPPINDICATOR=yes
  - SYLPHEED_STAGE=3.5 USE_LIBNOTIFY=yes USE_LIBAPPINDICATOR=yes
  - SYLPHEED_STAGE=3.4 USE_LIBNOTIFY=yes USE_LIBAPPINDICATOR=yes
before_script:
  - curl --location https://raw.githubusercontent.com/kenhys/sylpheed-plugin-factory/master/misc/travis/sylplugin-factory.sh | sh
  - sudo apt-get install libappindicator-dev
  - ./autogen.sh
script:
  - curl --location https://raw.githubusercontent.com/kenhys/sylpheed-plugin-factory/master/misc/travis/configure.sh | sh
  - make

